<!DOCTYPE html>
<html>
<head>
	<title>
		Christian Value School
	</title>
</head>
<body id="Home">
	 <header>
      <div class="wrapper">
        <nav>
          <ul id="menu">
            <li><a href="index.html">About</a></li>
            <li><a href="courses.html">Courses</a></li>
            <li><a href="programs.html">Programs</a></li>
            <li><a href="teachers.html">Teachers</a></li>
            <li><a href="admissions.html">Admissions</a></li>
            <li class="end"><a href="contacts.html">Contacts</a></li>
          </ul>
        </nav>
</body>
 <div id="slogan">ANNOUNCEMENTS<span>for you!</span> </div>
 </html>